<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>水晶精品，水晶博物馆，水晶展销网</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
  <%= render '/common/header' %>

  <%= render '/common/navbar' %>

  <%= yield %>

  <footer id="footer">
      <p>© 2014 <a href="http://www.crystalmuseum.cn">Crystal Museum</a>. All rights reserved.</p>
  </footer>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>